body{
	text-align: justify;
}
h1{
	font-variant-caps: small-caps;
}
nav a i{
	color: #325d88;
	margin-left:1%;
}
details p{
	background-color: #d7d7d7;
	padding: 1%;
	border-radius: 5px;
}
/*#achievements{
	background: url(../imgs/achievements.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
#courses{
	color: white;
	background: url(../imgs/courses.jpg);
	background-size: cover;
	background-position: top left;
}*/
#courses a{
	transition-property: background-color padding margin border-radius;
	transition-delay: .2s;
	transition-duration: .5s;
}
#courses a:hover{
	color: blue;
	background-color: grey;
	padding: 1%;
	margin: 1%;
	border-radius: 5px;
}