section{
	font-size: 100%;
	margin: 0;
	text-align: justify;
}
body{
	color: white;
	background: url(https://static.codepen.io/assets/global/texture-codepen-2-d817063398aa9a2b534f3834f8533e2bae759c25933b86cdd149d9f0cc38563d.png);
	background-color: rgb(0,0,0);
}
h1{
	color: white;
	text-align: center;
	font-variant: small-caps;
}
h2{
	color: white;
}
#left1{
	padding: 2%;
	margin: 2%;
	border: outset;
	border-width: 5px;
	border-color: #43ca5a;
	border-radius: 2%;
	background: linear-gradient(45deg, #43ca5a, transparent);
}
#right2{
	padding: 2%;
	margin: 2%;
	border: inset;
	border-width: 5px;
	border-color: #e7ff24;
	border-radius: 2%;
	background: linear-gradient(325deg, #e7ff24, transparent);
	scroll-behavior: auto;
}
#left3{
	background-color: #414148;
	padding: 2%;
	margin: 2%;
	border: outset;
	border-width: 5px;
	border-color: #543dd2;
	border-radius: 2%;
	background: linear-gradient(45deg, #543dd2, transparent);
}
#right4{
	background-color: #414148;
	padding: 2%;
	margin: 2%;
	border: inset;
	border-width: 5px;
	border-color: #c10e0e;
	border-radius: 2%;
	background: linear-gradient(325deg, #c10e0e, transparent);
}
#last{
	display: block;
	width: 98vw;
	margin: 0 auto;
}
img{
	width: 92%;
}
summary{
	font-variant-caps: small-caps;
	font-size: 100%;
}
details{
	 
}
figure{
	display: inline-block;
}
a{
	text-decoration: none;
	color: #06f7ec;
}
a:hover{
	background-color: #3e2f2f;
	font-size: 18px;
}



@media screen and (min-width: 900px){
section{
	font-size: 125%;
	margin: 2%;
	text-align: justify;
}
body{
	color: white;
	background: url(https://static.codepen.io/assets/global/texture-codepen-2-d817063398aa9a2b534f3834f8533e2bae759c25933b86cdd149d9f0cc38563d.png);
	background-color: rgb(0,0,0);
}
h1{
	color: white;
	text-align: center;
	font-size: 375%;
	font-variant: small-caps;
}
h2{
	color: white;
}
#left1{
	display: block;
	width: 50%;
	float: left;
	padding: 2%;
	margin: 2%;
	border: outset;
	border-width: 10px;
	border-color: #43ca5a;
	border-radius: 2%;
	background: linear-gradient(45deg, #43ca5a, transparent);
}
#right2{
	display: block;
	clear: both;
	float: right;
	width: 50%;
	padding: 2%;
	margin: 2%;
	border: inset;
	border-width: 10px;
	border-color: #e7ff24;
	border-radius: 2%;
	background: linear-gradient(325deg, #e7ff24, transparent);
	scroll-behavior: auto;
}
#left3{
	display: block;
	clear: both;
	float: left;
	background-color: #414148;
	width: 50%;
	padding: 2%;
	margin: 2%;
	border: outset;
	border-width: 10px;
	border-color: #543dd2;
	border-radius: 2%;
	background: linear-gradient(45deg, #543dd2, transparent);
}
#right4{
	display: block;
	clear: both;
	float: right;
	background-color: #414148;
	width: 50%;
	padding: 2%;
	margin: 2%;
	border: inset;
	border-width: 10px;
	border-color: #c10e0e;
	border-radius: 2%;
	background: linear-gradient(325deg, #c10e0e, transparent);
}
#last{
	display: block;
	clear: both;
}
img{
	width: 500px;
	display: inline-block;
}
summary{
	font-variant-caps: small-caps;
	font-size: 135%;
}
details{
	 
}
figure{
	display: inline-block;
}
a{
	text-decoration: none;
	color: #06f7ec;
	transition: 0.5s;
}
a:hover{
	background-color: white;
	padding: 1%;
	font-size: 18px;
}


